<% include ../headerDashboard %>
<% include ../dashboard/dashboardheader %>



<div class="row">
	<div class="col-7 offset-3" style="margin-top: 100px;">
		<h1 class="text-secondary text-center">Trigger List</h1>
    <h1 class="

    <% if(trigger_status=='Trigger Disabled'){ %>

    text-danger 

    <%}%>

    <% if(trigger_status=='Trigger Enabled'){ %>

    text-success 

    <%}%>

    text-center">  <%= trigger_status %> </h1>
	<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Enable</th>
      <th scope="col">Disable</th>
    </tr>
  </thead>
  <tbody>
    

	<% for(var i=0; i< triggerArray.length; i++) {%>	

    <tr>
      <th scope="row"> <%= i %> </th>
      <td> <%= triggerArray[i].TRIGGER_NAME %> </td>
      <td> <%= triggerArray[i].STATUS %> </td>
      
      <td> 
        <form action="http://localhost:3000/user/enableTrigger" method="post"> 
        
       <input type="text" name="enableTrigger" hidden="true" value="<%= triggerArray[i].TRIGGER_NAME %>">

        <input type="submit" value="Enable" class="btn btn-success">

      </form>
      </td>
      

      <td> 

       <form action="http://localhost:3000/user/disableTrigger" method="post"> 
        
       <input type="text" name="disableTrigger" hidden="true" value="<%= triggerArray[i].TRIGGER_NAME %>">

        <input type="submit" value="Disable" class="btn btn-danger">

      </form>

    </td>

    </tr>
    
    <%}%>


  </tbody>
</table>


	</div>
</div>






<% include ../footerDashboard %>