<% include ../header %>


<!--New product category added -->
<div class="container-fluid">
	<div class="row bg-light">
		<div class="col">
			<div class="container">
				<div class="row pt-5">
					<a class="text-dark" href="#"><h3>Categorized Products: <%=catName%> >> <%=subCat%> </h3></a>
					<div class="w-100"></div>


					<% 
					for(var i=0; i<searchResult.length; i++)
					{
						%>


						<div class="col-xl-2 col-6  mt-xl-2 mt-3" >

							<a style="color: black;" href="http://localhost:3000/product/productdetails/<%=searchResult[i].product_id%>">
								<div class="w_p bg-white ">

									<img class="img-fluid" src="http://localhost:3000/lib/img/cat1.jpg" alt="">

									<div class="w-100 pl-2">
										<h6> <%=searchResult[i].product_name%> </h6>
										<h6 class="text-danger">$<%=searchResult[i].product_price%></h6>
										<p class="text-danger mb-0"> 
											<strike class="text-muted">$<%=searchResult[i].product_original_price%>
											</strike>
											<small class="text-muted"> $<%=searchResult[i].category_id%>%</small>
										</p>
										<div class="w-100 mt-0 pb-3">

											<span class="fa fa-star text-warning"></span>
											<span class="fa fa-star text-warning"></span>
											<span class="fa fa-star text-warning"></span>
											<span class="fa fa-star text-warning"></span>
											<span class="fa fa-star"></span>

										</div>


									</div>

								</div>

							</a>


						</div>



						<% 
					}
					%>



				</div>
			</div>
		</div>
	</div>
</div>




<!-- just in products ends -->




<% include ../footer %>